<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Meta Tags -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Homex template">
	<meta name="keywords" content="">
	<meta name="author" content="Unicoder">

	<link rel="shortcut icon" href="images/favicon.ico">

	<!--	Fonts
	========================================================-->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">

	<!--	Css Link
	========================================================-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/layerslider.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/color.css" id="color-change">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/flaticon/flaticon.css">

	<!--	Title
	=========================================================-->
	<title>Homex - Real Estate Template</title>
</head>
<body>

<!--	Page Loader
=============================================================
<div class="page-loader position-fixed z-index-9999 w-100 bg-white vh-100">
	<div class="d-flex justify-content-center y-middle position-relative">
	  <div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	  </div>
	</div>
</div>
-->

<!--	Header Four
=============================================================-->
<header id="header" class="header_four nav-on-top">
	<div class="top_header bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-lg-9">
					<div class="top_left color-white icon_default">
						<ul class="pl-0">
							<li><i class="fa fa-phone" aria-hidden="true"></i>(012) 345 678 102</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i>office@example.com</li>
							<li>
								<div class="dropdown hover_white">
								  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help and Support</a>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="faq.html">Faq</a>
									<a class="dropdown-item" href="#">Terms and Condition</a>
									<a class="dropdown-item" href="#">How it works</a>
									<a class="dropdown-item" href="contact.html">Contact</a>
								  </div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="currency float-right">
						<form action="#" method="post">
							<select class="color-white">
								<option>$ USD</option>
								<option>£ EUR</option>
								<option>₹ Rupi</option>
								<option>৳ Taka</option>
							</select>
							<select class="color-white">
								<option>EN</option>
								<option>SP</option>
								<option>AR</option>
								<option>BN</option>
							</select>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar_four">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<nav class="navbar navbar-expand-lg navbar-light">
					  <a class="navbar-brand pl-0" href="#"><img class="nav-logo" src="images/logo/logo.png" alt=""></a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>

					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav mr-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="index.html">Default Home</a></li>
									<li><a class="dropdown-item" href="index_2.html">Investment Home</a></li>
									<li><a class="dropdown-item" href="index_3.html">Classic Home</a></li>
									<li><a class="dropdown-item" href="index_4.html">Slider Search</a></li>
									<li><a class="dropdown-item" href="index_5.html">Fixed Banner Search</a></li>
									<li><a class="dropdown-item" href="index_6.html">Gastronomy Slider</a></li>
									<li><a class="dropdown-item" href="index_7.html">Map Home</a></li>
								</ul>
							</li>
						  <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agent</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a class="dropdown-toggle dropdown-item" href="#">Property Agent</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="property_agents_grid.html">Grid View</a></li>
										<li><a class="dropdown-item" href="property_agents_list.html">List View</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle dropdown-item" href="#">Agent Search</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="agent_search.html">Grid View</a></li>
										<li><a class="dropdown-item" href="agent_list_search.html">List View</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle dropdown-item" href="#">Agent Single</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="agent_details.html">Agent Details</a></li>
									</ul>
								</li>
							</ul>
						  </li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listing</a>
								<ul class="dropdown-menu">
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Property Grid</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="property_grid_sidebar_left.html">Left Sidebar</a></li>
											<li><a class="dropdown-item" href="property_grid_sidebar_right.html">Right Sidebar</a></li>
											<li><a class="dropdown-item" href="property_grid_full.html">Full Width</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Property List</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="property_list_sidebar_left.html">Left Sidebar</a></li>
											<li><a class="dropdown-item" href="property_list_sidebar_right.html">Right Sidebar</a></li>
											<li><a class="dropdown-item" href="property_list_full.html">Full Width</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Property Search</a>
										<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="property_list_map.html">List Map Search</a></li>
											<li><a class="dropdown-item" href="property_grid_map.html">Grid Map Search</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Simple Search</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="property_grid_simple_search.html">Grid Search</a></li>
											<li><a class="dropdown-item" href="Property_list_simple_search.html">List Search</a></li>
										</ul>
									</li>
								</ul>
							</li>
						    <li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
								<ul class="dropdown-menu">
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Single Property</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="property_single_1.html">Single Property 1</a></li>
											<li><a class="dropdown-item" href="property_single_2.html">Single Property 2</a></li>
											<li><a class="dropdown-item" href="property_single_3.html">Single Property 3</a></li>
											<li><a class="dropdown-item" href="property_single_4.html">Single Property 4</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Advance Search</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="agent_search.html">Agent Search Grid</a></li>
											<li><a class="dropdown-item" href="agent_list_search.html">Agent Search List</a></li>
											<li><a class="dropdown-item" href="property_search_grid.html">Property Search Grid</a></li>
											<li><a class="dropdown-item" href="property_search_list.html">Property Search List</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">My Account</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="dashboard_personal_info.html">Personal Info</a></li>
											<li><a class="dropdown-item" href="dashboard_profile_setting.html">Profile Settings</a></li>
											<li><a class="dropdown-item" href="dashboard_change_password.html">Change Password</a></li>
											<li><a class="dropdown-item" href="dashboard_social_media.html">Social Media Settings</a></li>
											<li><a class="dropdown-item" href="dashboard_message.html">Dashboard</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle dropdown-item" href="#">Content Page</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="content_left_sidebar.html">Content Left Sidebar</a></li>
											<li><a class="dropdown-item" href="content_right_sidebar.html">Content Right Sidebar</a></li>
											<li><a class="dropdown-item" href="content_both_sidebar.html">Content Both Sidebar</a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="submit_property.html">Submit Property</a>
									</li>
								</ul>
							</li>
						   <li class="nav-item dropdown mega_menu_dropdown">
								<a class="nav-link dropdown-toggle" href="blog-grid-classic.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
								<ul class="dropdown-menu mega_menu">
									<li>
										<ul class="mega-dropdown">
											<li><a class="dropdown-item" href="about.html">About Us</a></li>
											<li><a class="dropdown-item" href="blog.html">Blog</a></li>
											<li><a class="dropdown-item" href="blog_details.html">Blog Details</a></li>
											<li><a class="dropdown-item" href="services.html">Services</a></li>
											<li><a class="dropdown-item" href="service_details.html">Services Details</a></li>
											<li><a class="dropdown-item" href="reviews.html">Reviews</a></li>
										</ul>
									</li>
									<li>
										<ul class="mega-dropdown">
											<li><a class="dropdown-item" href="pricing_table.html">Pricing</a></li>
											<li><a class="dropdown-item" href="faq.html">Faq</a></li>
											<li><a class="dropdown-item" href="register.html">Register</a></li>
											<li><a class="dropdown-item" href="login.html">Login</a></li>
											<li><a class="dropdown-item" href="forgot_password.html">Forgot Password</a></li>
											<li><a class="dropdown-item" href="timeline.html">Timeline</a></li>
										</ul>
									</li>
									<li>
										<ul class="mega-dropdown">
											<li><a class="dropdown-item" href="compare.html">Compare</a></li>
											<li><a class="dropdown-item" href="property_list_sidebar_left.html">Property List Sidebar Left</a></li>
											<li><a class="dropdown-item" href="dashboard_booking.html">Dashboard Booking</a></li>
											<li><a class="dropdown-item" href="dashboard_purchase.html">Dashboard Purchase</a></li>
											<li><a class="dropdown-item" href="dashboard_submit_property.html">Submit Property</a></li>
											<li><a class="dropdown-item" href="dashboard_system_setting.html">System Settings</a></li>
										</ul>
									</li>
									<li>
										<ul class="mega-dropdown">
											<li><a class="dropdown-item" href="dashboard_comment.html">Dashboard Comment</a></li>
											<li><a class="dropdown-item" href="dashboard_favorite.html">Dashboard Favorite</a></li>
											<li><a class="dropdown-item" href="dashboard_invoice.html">Invoice</a></li>
											<li><a class="dropdown-item" href="dashboard_message.html">Messages</a></li>
											<li><a class="dropdown-item" href="dashboard_tax_info.html">Tax Information</a></li>
											<li><a class="dropdown-item" href="error.html">Error Page</a></li>
										</ul>
									</li>
								</ul>
							</li>
						  <li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						  </li>
						</ul>
					    <div class="user_name color-primary-a float-lg-right p-3">
							<a href="login.html">Login / Register</a>
						</div>
					    <a class="btn btn-default1 d-none d-lg-block" href="dashboard_submit_property.html">Submit Peoperty</a>
					  </div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<!--	Banner
===============================================================-->
<div class="page-banner bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="breadcrumbs color-secondery">
					<ul>
						<li class="hover_gray"><a href="#">Home</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
						<li class="color-default">Register</li>
					</ul>
				</div>
				<div class="float-right color-primary">
					<h3 class="banner-title font-weight-bold">Register</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-7">
				<div class="login_massage pb_60">
					<h4 class="pb_20 color-primary">Welcome</h4>
					<p>Adipiscing lacinia pede proin vulputate habitasse donec adipiscing. Cubilia Interdum hac turpis et dignissim vehicula porta nostra dictum nostra semper. Dictumst congue dictum. Nam massa id, netus interdum amet Metus turpis scelerisque aptent sapien penatibus potenti. </p>
				</div>
				<div class="login_list">
					<h5 class="pb_20 color-primary">Keep in a mind a few basic password roules :</h5>
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<ul class="flat_small">
								<li><span class="color-default"><i class="flaticon-checked"></i></span>Change your passwords periodically</li>
								<li><span class="color-default"><i class="flaticon-checked"></i></span>Avoid re-using password for multiple site</li>
								<li><span class="color-default"><i class="flaticon-checked"></i></span>Use complex characters including uppercase and number</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-lg-5">
				<div class="login_form">
					<ul class="d-inline-block mb_30">
						<li><a href="login.html" class="color-primary">Login</a></li>
						<li class="active"><a href="register.html" class="color-primary">Register</a></li>
					</ul>
					<form class="form9">
					  <div class="form-group user">
					    <label for="exampleInputEmail1">Username</label>
					    <input id="exampleInputEmail1" type="text" class="form-control bg-gray" placeholder="">
					  </div>
					   <div class="form-group email">
					    <label for="exampleInputEmail2">Email address</label>
					    <input id="exampleInputEmail2" type="email" class="form-control bg-gray" placeholder="">
					  </div>
					  <div class="form-group password">
					    <label for="exampleInputPassword1">Password</label>
					    <input id="exampleInputPassword1" type="password" class="form-control bg-gray" placeholder="">
					  </div>
					  <div class="form-group password">
					    <label for="exampleInputPassword2">Re-enter Password</label>
					    <input id="exampleInputPassword2" type="password" class="form-control bg-gray" placeholder="">
					  </div>
					  <div class="form-group form-check">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					    <label class="form-check-label" for="exampleCheck1">Accept Terms and Condition</label>
					  </div>
					  <button type="submit" class="btn btn-default1 mt_15">Register</button>
					  <a  class="color-primary d-block mt_30" href="#">View Terms and Conditions</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--	Footer
============================================================-->
<footer class="full-row bg-gray">
	<div class="container">
		<div class="newsletter py_80 borber_b">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="news_text color-primary">
								<h4>Enter your email for subscribe to get monthly </h4>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="subscribe">
								<div class="input-group">
							         <input type="email" class="form-control" placeholder="Enter your email">
							         	<button class="btn btn-default1" type="submit">Subscribe</button>
						        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_area py_80 borber_b">
			<div class="row">
				<div class="col-md-12 col-lg-4">
					<div class="footer-widget">
						<div class="footer_logo pb_30">
							<a href="#"><img class="logo-bottom" src="images/logo/logo.png" alt="image"></a>
						</div>
						<p class="pb_20">Risus commodo congue augue phasellus morbi hymenaeos ante tincidunt eu orci dictum bibendum lacus platea primis mi lacinia felis gravida natoque bibendum cubilia montes tristique et arcu blandit risus. Lobortis dignissim nam.</p>
						<a class="btn btn-default1" href="#">Register Now</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-8">
					<div class="row">
						<div class="col-md-4 col-lg-4">
							<div class="footer-widget">
								<div class="ft-widget-title color-primary">
									<h4>Support</h4>
								</div>
								<div class="help_links pt_50 hover_gray">
									<ul>
										<li class="pb_20"><a href="#">Forum</a></li>
										<li class="pb_20"><a href="#">Statistics</a></li>
										<li class="pb_20"><a href="#">Terms and Condition</a></li>
										<li class="pb_20"><a href="#">Get Support</a></li>
										<li class="pb_20"><a href="#">Freequenly Ask Question</a></li>
										<li class="pb_20"><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="footer-widget">
								<div class="ft-widget-title color-primary">
									<h4>Quick Links</h4>
								</div>
								<div class="help_links pt_50 hover_gray">
									<ul>
										<li class="pb_20"><a href="#">About Us</a></li>
										<li class="pb_20"><a href="#">Featured Property</a></li>
										<li class="pb_20"><a href="#">Become A Member</a></li>
										<li class="pb_20"><a href="#">Submit Property</a></li>
										<li class="pb_20"><a href="#">How It Work</a></li>
										<li class="pb_20"><a href="#">Our Agents</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="footer-widget">
								<div class="ft-widget-title color-primary">
									<h4>Contact Us</h4>
								</div>
								<div class="help_links pt_50 pb_30 color-secondery">
									<ul>
										<li class="pb_20">Collins Street West, Victoria 8007, Australia</li>
										<li class="pb_20">+1 246-345-0695</li>
										<li class="pb_20">helpline@homex.com</li>
									</ul>
								</div>
								<div class="social_media hover_primary">
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright py_30">
			<div class="copy_text color-secondery d-inline">© 2019 Homex All right reserved</div>
			<div class="policy hover_gray">
				<ul>
					<li><a href="#">Privacy & Policy</a></li>
					<li><a href="#"> Site Map</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Scroll to top -->
	<a href="#" class="bg-default color-white" id="scroll"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll To top -->
</div>
</div>
<!-- Wrapper End -->

<!--	Js Link
============================================================-->
<script src="js/jquery.min.js"></script>
<!--jQuery Layer Slider -->
<script src="js/greensock.js"></script>
<script src="js/layerslider.transitions.js"></script>
<script src="js/layerslider.kreaturamedia.jquery.js"></script>
<!--jQuery Layer Slider -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/tmpl.js"></script>
<script src="js/jquery.dependClass-0.1.js"></script>
<script src="js/draggable-0.1.js"></script>
<script src="js/jquery.slider.js"></script>
<script src="js/wow.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/validate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
