<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Meta Tags -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Homex template">
	<meta name="keywords" content="">
	<meta name="author" content="unicoder">
	
	<link rel="shortcut icon" href="images/favicon.ico">

	<!--	Css Link
	========================================================-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/color.css" id="color-change">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/flaticon/flaticon.css">


	<!--	Title
	=========================================================-->
	<title>Homex - Real Estate Template</title>
</head>
<body>
	<div class="full-row top_bar py_10 bg-primary color-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<div class="left_top_bar">
						<div class="full-row deshbord_logo mr_20">
							<a class="float-left" href="index.html"><img src="images/logo/logo-icon.png" alt=""></a>
						</div>
						<div class="option d-inline-block float-left mr_20">
							<div class="dropdown">
							  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Dashboard Option 
							  </a>

							  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							    <a class="dropdown-item" href="#">Action</a>
							    <a class="dropdown-item" href="#">Another action</a>
							    <a class="dropdown-item" href="#">Something else here</a>
							  </div>
							</div>
						</div>
						<div class="alam float-left mr_20 d-xs-none">
					  		<a class="color-default" href="#"><i class="fa fa-bell" aria-hidden="true"></i><sup class="color-white">10</sup></a>
					  	</div>
					  	<div class="comment float-left mr_20 d-xs-none">
					  		<a class="color-default" href="#"><i class="fa fa-comments" aria-hidden="true"></i><sup class="color-white">5</sup></a>
					  	</div>
					  	<div class="link_property mr_20 d-xs-none">
					  		<a class="color-white" href="#">+ Submit Property</a>
					  	</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="right_top_bar float-right">
						<div class="balance float-left mr_20">
							<p>Balance: <span class="color-default">$34580.00</span></p>
						</div>
						<div class="profile_user d-inline-block mr_20">
							<div class="dropdown">
							  <a class="dropdown-toggle color-white" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  	<img src="images/team/01.jpg" alt="">
							    Hi, Karan
							  </a>

							  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
							    <a class="dropdown-item" href="#">Profile</a>
							    <a class="dropdown-item" href="#">sign out</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="full-row deshbord">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1 col-xl-2 bg-primary">
					<div class="row">
						<div class="full-row deshbord_sidebar flat_small py_30 w-100">
							<h6 class="color-default border_gray pb_15 m-0 px_15"><span>Overview</span></h6>
							<ul class="mt_10">
								<li><a href="dashboard_massanger.html"><i class="flaticon-dashboard"></i><span>Dashboard</span></a></li>
								<li><a href="dashboard_message.html"><i class="flaticon-contact-1"></i><span>Message</span> <span class="color-default">(05)</span></a></li>
								<li><a href="dashboard_comment.html"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>Comments</span> <span class="color-default">(12)</span></a></li>
								<li><a href="dashboard_booking.html"><i class="flaticon-calendar"></i><span>Booking Request</span></a></li>
							</ul>
							<h6 class="color-default border_gray pb_15 pt_50 m-0 px_15"><span>Manage Property</span></h6>
							<ul class="mt_10">
								<li><a href="dashboard_listing.html"><i class="flaticon-house-1"></i><span>Listing Properties</span></a></li>
								<li><a href="dashboard_favorite.html"><i class="flaticon-star"></i><span>Favorite Properties</span></a></li>
								<li><a href="dashboard_purchase.html"><i class="flaticon-rent"></i><span>Purchased Property</span></a></li>
								<li><a href="dashboard_invoice.html"><i class="flaticon-bill"></i><span>Payments and Invoice</span></a></li>
								<li><a href="dashboard_submit_property.html"><i class="flaticon-forward"></i><span>Submit Property</span></a></li>
							</ul>
							<h6 class="color-default border_gray pb_15 pt_50 m-0 px_15"><span>Your Details</span></h6>
							<ul class="mt_10">
								<li class="active"><a href="dashboard_personal_info.html"><i class="flaticon-seller"></i><span>Personal Information</span></a></li>
								<li><a href="dashboard_profile_setting.html"><i class="flaticon-resume"></i><span>Profile Settings</span></a></li>
								<li><a href="dashboard_change_password.html"><i class="flaticon-lock"></i><span>Change Password</span></a></li>
								<li><a href="dashboard_social_media.html"><i class="flaticon-share"></i><span>Social Media Settings</span></a></li>
							</ul>
							<h6 class="color-default border_gray pb_15 pt_50 m-0 px_15"><span>Your Items</span></h6>
							<ul class="mt_10">
								<li><a href="dashboard_tax_info.html"><i class="flaticon-tax"></i><span>Item Tax Information</span></a></li>
								<li><a href="dashboard_featured.html"><i class="flaticon-real-estate"></i><span>Featured Item</span></a></li>
								<li><a href="dashboard_offer.html"><i class="flaticon-percentage"></i><span>Offer</span></a></li>
							</ul>
							<h6 class="color-default border_gray pb_15 pt_50 m-0 px_15"><span>Settings</span></h6>
							<ul class="mt_10">
								<li><a href="dashboard_system_setting.html"><i class="flaticon-settings"></i><span>System Settings</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Personal Information</h4>
							<div class="dashboard_personal_info p-5 bg-white">
								<form action="#" method="post">
									<h5 class="color-primary">Account Info</h5>
									<hr>
									<div class="row mt-4">
										<div class="col-lg-6 col-md-12">
											<div class="form-group">
												<label>Agent User ID</label>
												<input type="text" name="user_id" class="form-control">
											</div>
											<div class="form-group">
												<label>Your Name</label>
												<input type="text" name="name" class="form-control">
											</div>
											<div class="form-group">
												<label>Your Title</label>
												<input type="text" name="title" class="form-control">
											</div>
											<div class="form-group">
												<label>Email Address</label>
												<input type="text" name="email" class="form-control">
											</div>
											<div class="form-group position-relative">
												<label>Phone Number</label>
												<select class="phone_code bg-gray">
													<option>+01</option>
													<option>+02</option>
													<option>+03</option>
													<option>+04</option>
												</select>
												<input type="text" name="phone" class="form-control">
											</div>
											<div class="form-group">
												<label>Country</label>
												<select class="form-control">
													<option>Select Country</option>
													<option>US</option>
													<option>UK</option>
													<option>BD</option>
													<option>IND</option>
												</select>
											</div>
											<div class="form-group">
												<label>About Me</label>
												<textarea class="form-control" rows="7"></textarea>
											</div>
											<div class="more_info">
												<h5 class="color-primary">More Info</h5>
												<hr>
												<div class="form-group">
													<label>Address</label>
													<input type="text" name="email" class="form-control" placeholder="First LIne (Optional)">
												</div>
												<div class="form-group">
													<input type="text" name="email" class="form-control" placeholder="Second LIne (Optional)">
												</div>
												<div class="row">
													<div class="col-lg-6">
														<div class="form-group">
															<label>City / State</label>
															<input type="text" name="email" class="form-control">
														</div>
													</div>
													<div class="col-lg-6">
														<div class="form-group">
															<label>Zip Code</label>
															<input type="text" name="email" class="form-control">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label>DOB</label>
													<input type="text" name="email" class="form-control" placeholder="DD-MM-YY (Optional)">
												</div>
											</div>
											<button class="btn btn-default1 mb-3">Save Change</button>
											<span class="note">Habitant per quisque scelerisque hac tempus ad volutpat non. Eleifend amet Vel mollis proin donec fermentum auctor ullamcorper. Turpis mattis facilisis. Pede ac aenean. Massa arcu dolor nullam habitasse tortor eros blandit lacus.</span>
										</div>
										<div class="col-lg-1"></div>
										<div class="col-lg-5 col-md-12">
											<div class="user_photo">
												<img src="images/dashboard/4.png" alt="">
												<div class="d-table">
													<label class="btn btn-default1 mb-0 mr-2" for="btn-uploat">Upload File</label>
													<input id="btn-uploat" class="hide" type="file" name="file-upload">
													<button class="btn btn-default1">Delete Photo</button>
												</div>
												<div class="user_info mt-4">
													<span class="d-table mb-1"><b>Name:</b> Harry E. Ewalt</span>
													<span class="d-table mb-1"><b>Email:</b> ewalt32@info.com</span>
													<span class="d-table mb-1"><b>Role:</b> Agent</span>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="dashboard_copyright bg-white py-4 color-secondery text-center">© 2019 Homex All right reserved</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Scroll to top -->
	<a href="#" class="bg-default color-white" id="scroll"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll To top -->
</div>
</div>
<!-- Wrapper End -->
	<!--	Js Link
============================================================-->
<script src="js/jquery.min.js"></script>
<!--jQuery Layer Slider -->
<script src="js/greensock.js"></script>
<script src="js/layerslider.transitions.js"></script>
<script src="js/layerslider.kreaturamedia.jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/tmpl.js"></script>
<script src="js/jquery.dependClass-0.1.js"></script>
<script src="js/draggable-0.1.js"></script>  
<script src="js/jquery.slider.js"></script>
<script src="js/wow.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>