.real-estate-id {
  border: 2px solid black;
  text-align: center;
}

.real-estate-index, .real-estate-time {
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
}

.page h1 {
  font-size: 1.5rem;
}
.new-page {
  page-break-before: always;
}

.pdf-header {
  max-height: 10%;
  margin: 5px auto 16px auto;
}
.pdf-logo img {
  width: 159px;
  height: 54px;
}
.pdf-address p {
  width: 270px;
  margin-left:75px;
  font-size: 0.85rem;
}
.pdf-public-name p {
  font-weight: bold;
}
.pdf-code p {
  font-weight: bold;
  text-align: right;
}
.pdf-key-value-cols {
  margin: 20px 0;
  padding: 10px 10px;
  border: 2px solid #8cc541;
  background-color: #eef6e7;
}
.pdf-key-value-cols p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.pdf-feature-cols p {
  line-height: 10pt;
  padding: 0 0 5pt 0;
  margin: 0;
}
.pdf-content {
  min-height: 80%;
  margin-left: auto;
  margin-right: auto;
}
.pdf-footer {
  display: none;
  height: 10%;
  margin:0 auto;
  background-color: #00ff80;
}
.pdf-main-image {
  margin: 1rem auto;
  text-align: center;
  max-height: 640px;
  vertical-align: middle;
  overflow-y: hidden;
}
.pdf-main-image img {
  width: 100%;
  height: auto;
}
.pdf-description {
  padding-top: 20pt;
}
.pdf-description-image img {
  width: 100%;
  height: auto;
}
.pdf-foot-ticket {
  font-size: 0.85rem;
}
img.pdf-flex-image {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 30px;
}
.row, img {
  page-break-inside: avoid;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-bottom: 5px;
  padding-top: 5px;
}

* {
  font-size: 12pt;
}
